@font_family : 'Roboto', sans-serif;

@interactable_font_family : 'Lato', monospace;

@green : #5cb85c;
@aqua : #5bc0de;
@blue : #428bca;
@yellow : #ffb03f;
@red : #d9534f;
@orange : #fb842e;
@purple : #9b59b3;

@ps4_blue : #003791;
@x1_green : #107c10;
@ps3_blue : #1E90FF;
@x360_green : #5dc21e;
@wii_gray : #999999;

@darkener : 10%;
@lightener : 5%;

@superlative : 7;
@comparative : 3;

@white : #fff;
@gray : #9ca1a7;
