<section ng-controller="raidController">
    <div><a ui-sref="list({ 'filter_state' : {{filter_state}} })">Back</a> > <a ui-sref="raid({ 'raid_id': raid._id })">Raid</a></div>
    <div>{{raid.status | capitalize}} {{raid.platform}} {{raid.game}}</div>
    <div>
        <div>
            <div>Play Time</div>
            <div>{{raid.display_play_time}}</div>
            <div>{{raid.offset_play_time}}</div>
        </div>
        <div>
            <div>Time Created</div>
            <div>{{raid.display_time_created}}</div>
            <div>{{raid.offset_time_created}}</div>
        </div>
    </div>
    <div>Description</div>
    <div>{{raid.description}}</div>
    <div>
        Members (Max. Capacity : {{raid.strength}})
        <div ng-repeat="player in player_data">
            <div>
                <div ng-click="player.show=!player.show" title="View Details">{{player.user_name}}</div>
                <div ng-show="player.show">
                    <div>Seeking - {{player.seeking.platform}} {{player.seeking.game}} - {{player.seeking.message}}</div>
                    <div>Joined <span am-time-ago="player.date_joined"></span></div>
                    <div><span ng-repeat="platform in player.platforms">{{platform}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button">Join</button>
        <button type="button" ui-sref="list({ 'filter_state' : { 'status' : '{{raid.status}}', 'platform' : '{{raid.platform}}', 'game' : '{{raid.game}}' } })">Show Similar</button>
        <button type="button" ui-sref="list({ 'filter_state' : {{filter_state}} })">Back</button>
    <div>
</section>
