<section class="sign_up" ng-controller="signUpController">
    <form name="signUp" ng-submit="sign_up()">
        <header>Sign Up</header>
        <div>
            <label>User Name</label>
            <span ng-messages="signUp.user_name.$error" ng-if="showMessages('user_name')">
                <span ng-message="required">Required</span>
                <span ng-message="duplicate">{{signUp.user_name.$viewValue}} not available</span>
            </span>
            <input type="text" name="user_name" placeholder="user_name" ng-model="user_name" ng-minlength="5" required available />
        </div>
        <div>
            <label>Passcode</label>
            <span ng-messages="signUp.passcode.$error" ng-if="showMessages('passcode')">
                <span ng-message="required">Required</span>
            </span>
            <div>
                <input type="{{ show_register_passcode ? 'text' : 'password' }}" name="passcode" placeholder="passcode" ng-model="passcode" required />
                <span>
                    <input type="checkbox" ng-model="show_register_passcode" tabindex="-1" />
                    <label>Show</label>
                </span>
            </div>
        </div>
        <div>
            <label>Mail</label>
            <span ng-messages="signUp.mail.$error" ng-if="showMessages('mail')">
                <span ng-message="required">Required</span>
                <span ng-message="email">Invalid Mail</span>
                <span ng-message="duplicate">Registered Mail</span>
            </span>
            <input type="email" name="mail" placeholder="user_name@rms.com" ng-model="mail" required available />
        </div>
        <div>
            <button type="submit" ng-disabled="signUp.$invalid || signUp.$pending">Register</button>
        </div>
    </form>
</section>
