@import "../../common/styles/variables.less";
@import "../../common/styles/mixins.less";

.user {
    width: 100%;
    max-width: 600px;
    font-size: 120%;
    #user_name {
        font-weight: bold;
        font-size: 200%;
        color: darken(@purple, @darkener);
    }
    .caption {
        color: @purple;
    }
    .caption,
    .seeking .message {
        margin: 10px 0;
        font-style: italic;
    }
    #joined {
        color: @gray;
        font-size: 80%;
        font-style: italic;
        margin: 10px 0;
        span {
            color: inherit;
        }
    }
    .play_information {
        padding: 10px 10px 0;
        .available_platforms {
            border: 1px solid lighten(@gray, @lightener);
            padding: 5px 10px;
            border-radius: 50px;
            margin: 0 0 10px;
            text-align: center;
            .user_platforms {
                .platform_button {
                    margin: 0 5px;
                }
            }
        }
        .play_timings {
            .play_start_time_container,
            .play_end_time_container {
                .play_time_on {
                    color: darken(@blue, @darkener);
                }
            }
        }
    }
    .controls {
        margin: 10px auto;
        text-align: center;
        button {
            margin: 0 1%;
            width: 45%;
            &.only_button {
                width: 90%;
            }
        }
    }
}
