<section class="user">
    <header id="user_name">{{profile.user_name}}</header>
    <div class="caption">{{profile.caption ? "\"" + profile.caption + "\"" : ""}}</div>
    <div class="seeking">
        <div ng-show="profile.seeking.game && profile.seeking.platform">Looking to play <button class="game_button" type="button" ui-sref="list({ 'filter_state' : { 'status' : '', 'platform' : '', 'game' : profile.seeking.game } })">{{profile.seeking.game}}</button> on <button class="platform_button" type="button" ui-sref="list({ 'filter_state' : { 'status' : '', 'platform' : profile.seeking.platform, 'game' : '' } })">{{profile.seeking.platform}}</button></div>
        <div class="message">{{profile.seeking.message ? "\"" + profile.seeking.message + "\"" : ""}}</div>
    </div>
    <div>
        <div><span class="karma_score" ng-class="{'good_karma' : profile.karma > 0, 'bad_karma' : profile.karma < 0}">{{profile.karma || 0}}</span> Karma Score</div>
        <div id="joined">Joined RMS <span am-time-ago="profile.date_joined"></span></div>
    </div>
    <div class="play_information">
        <div class="inline available_platforms" ng-show="profile.platforms.length">
            <div>Available on</div>
            <div class="user_platforms">
                <button class="platform_button" type="button" ng-repeat="platform in profile.platforms">{{platform}}</button>
            </div>
        </div>
        <div class="inline play_timings">
            <div class="play_start_time_container">
                <div class="label">Start Time</div>
                <div ng-class="{'play_time_on' : user_play_time}">{{profile.display_play_start}}</div>
                <div class="time_ago" ng-class="play_start_pivot" am-time-ago="profile.play_start"></div>
            </div><div class="play_end_time_container">
                <div class="label">End Time</div>
                <div ng-class="{'play_time_on' : user_play_time}">{{profile.display_play_end}}</div>
                <div class="time_ago" ng-class="play_end_pivot" am-time-ago="profile.play_end"></div>
            </div>
        </div>
    </div>
    <div class="controls">
        <button type="button" class="edit_button" ui-sref="editUser({ 'user_name' : user.user_name })" ng-if="(profile.user_name == user.user_name)">Edit</button><button type="button" ng-class="{'only_button' : !(profile.user_name == user.user_name)}" ui-sref="list">LFG</button>
    </div>
</section>
