<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMS - Gulfaraz Yasin</title>
    <link rel="stylesheet" href="css/style.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="rmsApp" ng-class="{ 'disable_scrolling' : broadcast_message_service.broadcast_message }">
    <header id="rms">
        <div id="rms_logo"></div>
    </header>
    <div ng-controller="sessionController" id="content" ng-cloak>
        <section id="overlayed_content" ng-show="broadcast_message_service.broadcast_message" ng-click="broadcast_message_service.broadcast_message = ''">
            <div id="overlay"></div>
            <div id="broadcast_message" ng-bind-html="trustAsHtml(broadcast_message_service.broadcast_message)">Loading...</div>
        </section>
        <div id="state_controls">
            <div id="timezone_navigation">
                <div class="content">
                    <section id="timezone">
                        <label for="timezone_select">Select your Timezone </label><select id="timezone_select" ng-model="timezone" ng-options="zone.display for zone in timezones" ng-change="change_timezone(timezone)"></select>
                    </section>
                    <div id="navigation">
                        <button ui-sref="lfg">LFG</button>
                        <button ng-hide="true" ui-sref="queue">LFM</button>
                    </div>
                    <aside id="statistics" class="inline">
                        <div id="server_status" ng-class="{'online' : server_status == 'Online'}">Server {{ server_status || 'Offline' }}</div><div id="users_online" ng-show="server_status == 'Online'">{{ online_users || 0 }} User{{ online_users > 1 ? 's' : ''}}</div>
                    </aside>
                </div>
            </div><div id="account_portal">
                <div class="content">
                    <section ng-hide="is_authenticated_user()">
                        <div id="social_login_icons"><a class="psn_logo" href="/auth/facebook"></a><a class="xbox_logo" href="/auth/facebook"></a><a class="facebook_logo" href="/auth/facebook"></a><a class="twitter_logo" href="/auth/twitter"></a><a class="google_logo" href="/auth/google"></a></div>
                        <div id="sign_in_form">
                            <form name="signIn" ng-submit="sign_in()">
                                <div class="inline">
                                    <div class="user_name_container">
                                        <input type="text" name="user_name" placeholder="Enter your User Name" ng-model="user_name" required/>
                                    </div>
                                    <div class="passcode_container">
                                        <input type="{{ show_login_passcode ? 'text' : 'password' }}" name="passcode" placeholder="Enter your Passcode" ng-model="passcode" required/>
                                        <span class="show_passcode_container" ng-show="passcode" ng-click="show_login_passcode = !show_login_passcode">
                                            <label>{{ show_login_passcode ? 'Hide' : 'Show' }}</label>
                                        </span>
                                    </div>
                                    <div id="sign_in_control">
                                        <button class="sign_in_button" type="submit" ng-disabled="signIn.$invalid">Sign In</button><button class="register_button" ui-sref="register" type="button">Register</button><button class="recover_button" ui-sref="forgot" type="button">Recover</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section ng-show="is_authenticated_user()">
                        <div id="user_information">
                            <div id="authorized_user_name">{{session_user_name()}}</div>
                            <button class="view_profile_button" type="button" ui-sref="user({ 'user_name' : session_user_name() })">Profile</button>
                            <button class="sign_out_button" type="button" ng-click="sign_out()">Sign Out</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="view" ui-view>Loading...</div>
    <footer class="footer">
        <div>
            <a href="//gulfaraz.com" title="Gulfaraz Yasin"><span>&copy; Gulfaraz Yasin 2015</span></a>
        </div>
    </footer>
    <script src="js/rms.min.js"></script>
</body>
</html>
