<section id="forgot">
    <form name="models.recover_account_form" ng-submit="recover_account()">
        <header class="title">Recover Account</header>
        <div class="user_name_container">
            <label>User Name/Mail</label>
            <span class="error_message" ng-messages="models.recover_account_form.lost.$error" ng-if="models.recover_account_form.lost.$dirty && models.recover_account_form.lost.$invalid">
                <span ng-message="required">Required</span>
            </span>
            <span class="error_message" ng-if="models.recover_account_form.lost.$dirty && !models.recover_account_form.lost.$invalid">
                <span>Unregistered</span>
            </span>
            <input type="text" placeholder="Registered User Name/Mail" name="lost" ng-model="lost" required available />
        </div>
        <div class="form_controls">
            <button class="recover_button" type="submit" ng-disabled="!models.recover_account_form.lost.$error.duplicate || models.recover_account_form.$pending">Recover</button>
        </div>
    </form>
</section>
